---
import { Resource } from "sst";

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		<div>
			<p>site: {Resource.Remotion.siteUrl}</p>
			<p>function: {Resource.Remotion.functionName}</p>
			<button>render</button>
			<video controls id="video"></video>
			<div id="result"></div>
		</div>
	</body>
</html>
<script>
	const btn = document.querySelector("button");
	btn!.addEventListener("click", async () => {
		const res = await fetch("/api/render", { method: "POST" });
		
		const data = await res.json();
		console.log(data);
		const result = document.querySelector("#result") as HTMLDivElement;
		result!.textContent = JSON.stringify(data, null, 2);


		const src= data.outputFile
		const video = document.querySelector("#video") as HTMLVideoElement;
		video!.src = src;
		video!.play();
	});
</script>

